@font-face {
    font-family: 'icons_setur';
    src:url('fonts/icons_setur.eot?l6ydtb');
    src:url('fonts/icons_setur.eot?l6ydtb#iefix') format('embedded-opentype'),
        url('fonts/icons_setur.ttf?l6ydtb') format('truetype'),
        url('fonts/icons_setur.woff?l6ydtb') format('woff'),
        url('fonts/icons_setur.svg?l6ydtb#icons_setur') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?jtetts');
    src:url('fonts/icomoon.eot?jtetts#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jtetts') format('truetype'),
        url('fonts/icomoon.woff?jtetts') format('woff'),
        url('fonts/icomoon.svg?jtetts#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}