$color_cyan:                        #1a8093;
$color_gravel_approx:               #4b4b4b;
/*$color_flamingo_approx:             #db775f;*/
$white:                             #ffffff;
$color_saffron_approx:              #fcb731;
$black_50:                          rgba(0, 0, 0, 0.2);
$color_silver_approx:               #c1c1c1;
$black:                             #000;
$color_quill_gray_approx:           #d6d5d3;
$color_mercury_approx:              #e6e6e6;
$color_outrageous_orange_80_approx: rgba(239, 102, 49, 0.8);
$color_celeste_approx:              #cdcdcd;
$color_burning_orange_approx:       #ef6730;
$color_mountain_mist_approx:        #939393;
$color_gray:                        #333132;
$color_border:                      #595959;
$font_little_gray:                  #bcbec0;
$bg_call:                           rgba(219, 131, 110, 0.9);
$bg_insta:                          #4d4d4d;
$bg_planeje:                        #dadada;
$DarkBrown:                         #292321;
$Orange:                            #f49757;
$Yellow:                            #f5ca6a;
$Wine:                              #af5056;