.sidebar-menu > li > a > span:nth-child(1){
  font-size: 14px;
}
.panel-heading
{
  height: auto;
  padding: 5px;
}
.mandatory-field{
  color:#1a8093;
  font-size: 16px;
  font-weight: bolder;
  line-height: 15px;
  padding-left: 2px;
}
.panel .select2-container--default .select2-selection{
  border: 1px solid #dddddd;
  border-radius: 0;
  min-height: 39px;
  padding: 3px;
}

.panel .select2-container--default .select2-selection:active,
.panel .select2-container--default.select2-container--focus .select2-selection{
  border-color: #75a5e4;
  outline: 0;
}
.panel .select2-container--default .select2-selection--single .select2-selection__arrow{
  min-height: 39px;
}
.select2-container .select2-dropdown{
  border-radius: 0;
}

.select2{
  min-height:39px;
}

.select2-container--default .select2-selection--multiple {
  position: relative;
}
.select2-container--default .select2-selection--multiple:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  width: 20px;
  background: url('../img/select2.png') 0 1px no-repeat;
  cursor: pointer;
}
.select2-container--default.select2-container--open .select2-selection--multiple:before {
  background-position: -18px 1px;
}
.select2-container--default.select2-container--open li.select2-search--inline {
  width: 99%;
  border: 1px solid #888;
  margin-top: 5px;
  padding-left: 2px;
}

.panel .camera {
  height: 150px;
  width: 230px;
  max-width: 100%;
  overflow: hidden;
  background: #e0e0e0;
  margin: 10px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  float: none; }
.panel .photo-credits-div {
  width: 230px;
  max-width: 100%;
  margin: 0 auto;}
.panel .camera img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
  position: relative;
  opacity: 0.3;
  top: 25%; }
.panel .camera h4 {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  opacity: 0.6;
  top: 30%; }
.panel #mainForm .photo-upload-input {
  height: 150px;
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
.panel #mainForm #add-photo-column .photo-upload-input{
  left:auto;
}
.upload-btn-icon
{
  max-height: 100%;
  max-width: 100%;
}
.remove-photo{
  position: absolute;
  top: 3px;
  right: 3px;
}
.download-photo-btn{
  position: absolute;
  top: 3px;
  left: 3px;
}
.select2-results__option{
  min-height:30px;
}
.panel div.form-group{
  min-height: 63px;
}
.hidden{
  display: none;
}
.nav .nav .menu-inventory-name{
  font-size:12px;
}