@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Signika);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, hr, fieldset, form, input, select, textarea, label, legend, caption, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

input, a {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

div:after, ol:after, form:after, ul:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden; }

img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img {
  max-width: 100%;
  height: auto; }

.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 16px;
  margin-top: 4px; }

.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px; }

.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignleft, img.alignright, img.aligncenter {
  margin-bottom: 10px; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; }

.no-padding {
  padding: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

#imgClose {
  display: none; }

#divDropdownResumed {
  background: #4b4b4b !important;
  border-radius: 0;
  border: none;
  border-top: 3px solid #ef662f;
  padding: 3%;
  left: 80.3% !important; }
  #divDropdownResumed:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef662f;
    position: absolute;
    top: -9px;
    left: 48%; }
  #divDropdownResumed .list-thumbs {
    margin-bottom: 15px; }
  #divDropdownResumed #menu-superior .nav-item {
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%; }
    #divDropdownResumed #menu-superior .nav-item .nav-link {
      color: #FFFFFF !important;
      font-size: 14px;
      font-family: 'Signika', sans-serif;
      font-weight: 400; }
      #divDropdownResumed #menu-superior .nav-item .nav-link img {
        margin-right: 10px; }
    #divDropdownResumed #menu-superior .nav-item .strings {
      text-transform: uppercase; }
    #divDropdownResumed #menu-superior .nav-item .language {
      background: transparent;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 9px;
      border-radius: 0; }
      #divDropdownResumed #menu-superior .nav-item .language:hover {
        background: #FFFFFF;
        color: #4b4b4b; }
  #divDropdownResumed #expectation h3 {
    color: #FFFFFF;
    text-align: center;
    padding: 3% 0; }
  #divDropdownResumed #choices .options {
    font-family: 'Signika', sans-serif;
    background: #ef662f;
    border: 1px solid #ef662f;
    color: #FFFFFF;
    padding: 1.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px; }

#divDropdown {
  background: #fcb731 !important;
  border-radius: 0;
  border: none;
  border-top: 3px solid #ef662f;
  padding: 3%; }
  #divDropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef662f;
    position: absolute;
    top: -9px;
    left: 22%; }
  #divDropdown .list-thumbs {
    margin-bottom: 15px; }
    #divDropdown .list-thumbs .caption {
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 89.5%;
      height: 30%;
      top: 40%;
      left: 0;
      transition-property: all;
      transition-duration: .2s;
      transition-timing-function: ease-in-out; }
      #divDropdown .list-thumbs .caption:hover {
        opacity: 1; }
      #divDropdown .list-thumbs .caption .caption-content {
        display: table !important;
        height: 100%;
        width: 100%; }
        #divDropdown .list-thumbs .caption .caption-content .info {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-top: 10%; }
          #divDropdown .list-thumbs .caption .caption-content .info:hover {
            text-decoration: none; }
          #divDropdown .list-thumbs .caption .caption-content .info .strongOrange {
            text-align: center;
            color: #FFFFFF;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-size: 22px; }
        #divDropdown .list-thumbs .caption .caption-content .content-overlay {
          font-family: 'Signika' sans-serif;
          color: #FFFFFF; }
          #divDropdown .list-thumbs .caption .caption-content .content-overlay #title-overlay {
            font-size: 30px;
            margin-top: 10%; }
          #divDropdown .list-thumbs .caption .caption-content .content-overlay hr {
            width: 10%;
            background: #ef662f;
            height: 2px;
            float: left;
            margin: 3% 0; }
        #divDropdown .list-thumbs .caption .caption-content .text-highlight {
          color: #FFFFFF;
          margin: 29% 0 0; }
          #divDropdown .list-thumbs .caption .caption-content .text-highlight h2 {
            text-align: left;
            color: #FFFFFF; }
        #divDropdown .list-thumbs .caption .caption-content .text-highlight-post {
          color: #FFFFFF;
          margin: 25% 0 0; }
          #divDropdown .list-thumbs .caption .caption-content .text-highlight-post h2 {
            text-align: center;
            color: #FFFFFF;
            font-family: 'Signika' sans-serif; }
        #divDropdown .list-thumbs .caption .caption-content .social #icons-social {
          padding-right: 10px; }
        #divDropdown .list-thumbs .caption .caption-content .social #share {
          padding-top: 8px; }
        #divDropdown .list-thumbs .caption .caption-content .favorite {
          margin-top: 10%; }
          #divDropdown .list-thumbs .caption .caption-content .favorite p {
            color: #FFFFFF; }
  #divDropdown #call-to-action {
    margin: 5% auto; }
    #divDropdown #call-to-action a {
      background: #ef662f;
      border: 1px solid #ef662f;
      color: #FFFFFF;
      padding: 1.5%;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; }
      #divDropdown #call-to-action a:hover {
        text-decoration: none;
        border: 1px solid #ef662f;
        color: #ef662f;
        background: #FFFFFF; }
  #divDropdown #expectation h3 {
    color: #FFFFFF;
    text-align: center;
    padding: 3% 0; }
  #divDropdown #choices .options {
    font-family: 'Signika', sans-serif;
    background: #ef662f;
    border: 1px solid #ef662f;
    color: #FFFFFF;
    padding: 1.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px; }

#box-menu-top {
  border-bottom: 2px solid #c1c1c1;
  background: #FFFFFF;
  padding: 1% 0; }
  #box-menu-top .logo {
    margin: 2% auto; }
  #box-menu-top .nav-superior .navbar-nav .nav-item .open .nav-link {
    color: #fcb731; }
  #box-menu-top .nav-superior .navbar-nav .nav-item .nav-link {
    color: #4b4b4b !important;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
  #box-menu-top .nav-superior .navbar-nav .nav-item .strings {
    padding-top: 0.8rem; }
  #box-menu-top .nav-superior .navbar-nav .nav-item .language {
    border-radius: 0;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 0.4rem;
    border: 1px solid #4b4b4b;
    background: transparent; }
    #box-menu-top .nav-superior .navbar-nav .nav-item .language:hover {
      color: #ef662f;
      border: 1px solid #ef662f; }
  #box-menu-top .nav-inferior .navbar-nav .nav-item .nav-link {
    color: #ef662f !important;
    font-size: 17px;
    padding-top: 0.3rem; }
  #box-menu-top .nav-inferior .navbar-nav .nav-item .pictures {
    padding-top: 0 !important; }

#box-menu-top-resume {
  border-bottom: 2px solid #c1c1c1;
  background: #FFFFFF;
  display: none; }
  #box-menu-top-resume .logo {
    margin: 2% auto; }
  #box-menu-top-resume .nav-superior .navbar-nav .nav-item .open .nav-link {
    color: #fcb731; }
  #box-menu-top-resume .nav-superior .navbar-nav .nav-item .nav-link {
    color: #4b4b4b !important;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
  #box-menu-top-resume .nav-superior .navbar-nav .nav-item .strings {
    padding-top: 0.8rem; }
  #box-menu-top-resume .nav-superior .navbar-nav .nav-item .language {
    border-radius: 0;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 0.4rem;
    border: 1px solid #4b4b4b;
    background: transparent; }
    #box-menu-top-resume .nav-superior .navbar-nav .nav-item .language:hover {
      color: #ef662f;
      border: 1px solid #ef662f; }
  #box-menu-top-resume .nav-inferior .navbar-nav .nav-item .nav-link {
    color: #ef662f !important;
    font-size: 17px;
    padding-top: 0.3rem; }
  #box-menu-top-resume .nav-inferior .navbar-nav .nav-item .pictures {
    padding-top: 0 !important; }

.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../imgs/bg-destaque-topo.jpg) no-repeat bottom center scroll;
  background-color: #000;
  background-size: cover;
  -o-background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
  .intro .brand-heading {
    font-size: 40px; }
  .intro .intro-text {
    font-size: 18px; }

#destinos {
  padding: 1% 0; }
  #destinos #hospedagem .list-options .card-inverse {
    border: none;
    border-radius: 0; }
    #destinos #hospedagem .list-options .card-inverse .card-img {
      border-radius: 0; }
    #destinos #hospedagem .list-options .card-inverse .card-img-overlay {
      background: rgba(0, 0, 0, 0.5);
      bottom: 26%; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .card-title {
        text-align: center;
        margin-bottom: 5px; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .hashtag {
        margin: 0; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .card-text {
        margin: 0 0 10px 0;
        color: #FFFFFF;
        text-align: center; }
        #destinos #hospedagem .list-options .card-inverse .card-img-overlay .card-text p {
          color: #FFFFFF;
          padding: 0 15%;
          text-align: center;
          font-family: 'Signika', sans-serif;
          font-size: 24px; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .positions {
        padding: 0 1rem; }
        #destinos #hospedagem .list-options .card-inverse .card-img-overlay .positions #ranking {
          width: 25%;
          border: 1px solid #FFFFFF;
          float: left; }
          #destinos #hospedagem .list-options .card-inverse .card-img-overlay .positions #ranking p {
            padding: 5px;
            text-align: center;
            color: #FFFFFF; }
        #destinos #hospedagem .list-options .card-inverse .card-img-overlay .positions #font {
          color: #FFFFFF;
          margin-left: 10px; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .social #icons-social {
        float: left; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay .social p {
        padding: 5px 20px;
        float: left;
        color: #FFFFFF;
        font-family: 'Signika', sans-serif;
        font-size: 21px; }
      #destinos #hospedagem .list-options .card-inverse .card-img-overlay p a {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        padding: 5px 15px;
        text-transform: uppercase; }
        #destinos #hospedagem .list-options .card-inverse .card-img-overlay p a:hover {
          background: #FFFFFF;
          color: #ef662f;
          text-decoration: none; }
  #destinos #hospedagem .list-options .card-footer {
    background: #d6d5d3;
    border-radius: 0;
    padding: 0.75rem 0.45rem; }
    #destinos #hospedagem .list-options .card-footer p {
      color: #ef662f;
      font-size: 18px;
      font-family: 'Signika', sans-serif;
      font-weight: 400; }
  #destinos .list-thumbs {
    margin-bottom: 15px; }
    #destinos .list-thumbs .overlay-full {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
      background: rgba(0, 0, 0, 0.5);
      opacity: .9;
      font-family: 'Signika', sans-serif;
      font-size: 21px;
      text-align: left; }
      #destinos .list-thumbs .overlay-full #title-overlay {
        color: #FFFFFF;
        font-size: 30px;
        margin-top: 2rem; }
        #destinos .list-thumbs .overlay-full #title-overlay h2 {
          color: #FFFFFF;
          text-align: left;
          font-size: 48px;
          font-family: 'Signika', sans-serif;
          font-weight: 400;
          padding: 0; }
      #destinos .list-thumbs .overlay-full hr {
        width: 5%;
        background: #ef662f;
        height: 2px;
        float: left;
        margin: 1% 0; }
      #destinos .list-thumbs .overlay-full #text-overlay {
        color: #FFFFFF;
        font-size: 16px; }
  #destinos .list-hash p {
    text-align: center;
    background: #ef662f;
    padding: 10px 0;
    color: #FFFFFF; }
    #destinos .list-hash p span {
      color: #fcb731; }
  #destinos .overlay-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.5);
    opacity: .9;
    font-family: 'Signika', sans-serif;
    font-size: 21px;
    text-align: left; }
    #destinos .overlay-full #title-overlay {
      color: #FFFFFF;
      font-size: 30px;
      margin-top: 2rem; }
    #destinos .overlay-full hr {
      width: 10%;
      background: #ef662f;
      height: 2px;
      float: left;
      margin: 3% 0; }
    #destinos .overlay-full #text-overlay {
      color: #FFFFFF;
      font-size: 16px; }
  #destinos #listaPostagens {
    margin: 2% 0; }
    #destinos #listaPostagens #callPost p {
      margin-bottom: 10px; }
      #destinos #listaPostagens #callPost p #datePost {
        color: #4b4b4b;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: -1px; }
      #destinos #listaPostagens #callPost p #hashtagsPost {
        color: #ef662f;
        font-weight: 700;
        font-size: 14px; }
    #destinos #listaPostagens #callPost h3 {
      color: #ef662f;
      font-family: 'Signika', sans-serif;
      font-size: 21px;
      margin-bottom: 10px; }
    #destinos #listaPostagens #callPost #call-to-action {
      margin: 2.8% 0 0 !important;
      float: left !important; }
      #destinos #listaPostagens #callPost #call-to-action a {
        background: #ef662f;
        border: 1px solid #ef662f;
        color: #FFFFFF;
        padding: 1.5%;
        width: 30%;
        float: left; }
  #destinos #colunms {
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
            column-count: 2;
    /* padrão */
    height: 200px; }
  #destinos #colunms-read {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    /* padrão */
    min-height: 400px;
    -webkit-column-gap: 20px; }
    #destinos #colunms-read p {
      margin-bottom: 10px; }
  #destinos #choices .options {
    font-family: 'Signika', sans-serif;
    background: #ef662f;
    border: 1px solid #ef662f;
    color: #FFFFFF;
    padding: 1.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px; }
  #destinos .listInfos {
    background: #e6e6e6;
    height: 270px;
    width: 270px;
    border-radius: 50%; }
    #destinos .listInfos .position {
      position: relative;
      top: 30%; }
      #destinos .listInfos .position h4 {
        text-align: center;
        color: #fcb731;
        font-weight: 800;
        font-size: 58px; }
      #destinos .listInfos .position p {
        text-align: center;
        color: #ef662f;
        font-weight: 600;
        font-size: 18px;
        padding: 0 15%; }
  #destinos .caption {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0 15px;
    left: 0;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    #destinos .caption:hover {
      opacity: 1; }
    #destinos .caption .caption-content {
      display: table !important;
      height: 100%;
      width: 100%; }
      #destinos .caption .caption-content .info {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block; }
        #destinos .caption .caption-content .info:hover {
          text-decoration: none; }
        #destinos .caption .caption-content .info .strongOrange {
          text-align: left;
          color: #FFFFFF;
          font-weight: 800;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          font-size: 22px;
          padding: 10px; }
      #destinos .caption .caption-content .content-overlay {
        font-family: 'Signika' sans-serif;
        color: #FFFFFF; }
        #destinos .caption .caption-content .content-overlay #title-overlay {
          font-size: 30px;
          margin-top: 10%; }
        #destinos .caption .caption-content .content-overlay hr {
          width: 10%;
          background: #ef662f;
          height: 2px;
          float: left;
          margin: 3% 0; }
      #destinos .caption .caption-content .text-highlight {
        color: #FFFFFF;
        margin: 29% 0 0; }
        #destinos .caption .caption-content .text-highlight h2 {
          text-align: left;
          color: #FFFFFF; }
      #destinos .caption .caption-content .social #icons-social {
        padding-right: 10px; }
      #destinos .caption .caption-content .social #share {
        padding-top: 8px; }
      #destinos .caption .caption-content .favorite {
        margin-top: 10%; }
        #destinos .caption .caption-content .favorite p {
          color: #FFFFFF; }
  #destinos .caption-min {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0 15px;
    left: 0;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    #destinos .caption-min:hover {
      opacity: 1; }
    #destinos .caption-min .info {
      width: 100%;
      height: 100%; }
      #destinos .caption-min .info:hover {
        text-decoration: none;
        background: rgba(239, 102, 49, 0.8); }
      #destinos .caption-min .info .caption-content {
        height: 100%;
        width: 100%;
        background: rgba(239, 102, 49, 0.8); }
        #destinos .caption-min .info .caption-content img {
          position: absolute;
          top: 42%;
          left: 42%; }
        #destinos .caption-min .info .caption-content .strongOrange {
          text-align: left;
          color: #FFFFFF;
          font-weight: 800;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          font-size: 22px;
          padding: 10px; }
      #destinos .caption-min .info .content-overlay {
        font-family: 'Signika' sans-serif;
        color: #FFFFFF; }
        #destinos .caption-min .info .content-overlay #title-overlay {
          font-size: 30px;
          margin-top: 10%; }
        #destinos .caption-min .info .content-overlay hr {
          width: 10%;
          background: #ef662f;
          height: 2px;
          float: left;
          margin: 3% 0; }
      #destinos .caption-min .info .text-highlight {
        color: #FFFFFF;
        margin: 29% 0 0; }
        #destinos .caption-min .info .text-highlight h2 {
          text-align: left;
          color: #FFFFFF; }
      #destinos .caption-min .info .social #icons-social {
        padding-right: 10px; }
      #destinos .caption-min .info .social #share {
        padding-top: 8px; }
      #destinos .caption-min .info .favorite {
        margin-top: 10%; }
        #destinos .caption-min .info .favorite p {
          color: #FFFFFF; }
  #destinos h2 {
    font-size: 60px;
    font-weight: 700;
    color: #ef662f;
    text-align: center;
    padding: 2.5% 0; }
  #destinos .line {
    margin-bottom: 2%; }
    #destinos .line .card-inverse {
      border: none;
      border-radius: 0; }
      #destinos .line .card-inverse .card-img {
        border-radius: 0; }
      #destinos .line .card-inverse .card-img-overlay {
        background: rgba(0, 0, 0, 0.5); }
        #destinos .line .card-inverse .card-img-overlay .card-title {
          text-align: left;
          margin-bottom: 5px; }
        #destinos .line .card-inverse .card-img-overlay .hashtag {
          margin: 0; }
        #destinos .line .card-inverse .card-img-overlay .card-text {
          margin: 0 0 10px 0;
          color: #FFFFFF; }
          #destinos .line .card-inverse .card-img-overlay .card-text p {
            color: #FFFFFF;
            padding: 0 15%;
            text-align: center;
            font-family: 'Signika', sans-serif;
            font-size: 24px; }
        #destinos .line .card-inverse .card-img-overlay .social #icons-social {
          float: left; }
        #destinos .line .card-inverse .card-img-overlay .social p {
          padding: 5px 20px;
          float: left;
          color: #FFFFFF;
          font-family: 'Signika', sans-serif;
          font-size: 21px; }
        #destinos .line .card-inverse .card-img-overlay p a {
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          padding: 5px 15px;
          text-transform: uppercase; }
          #destinos .line .card-inverse .card-img-overlay p a:hover {
            background: #FFFFFF;
            color: #ef662f;
            text-decoration: none; }
  #destinos #call-to-action {
    margin: 5% auto; }
    #destinos #call-to-action a {
      background: #ef662f;
      border: 1px solid #ef662f;
      color: #FFFFFF;
      padding: 1.5%;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; }
      #destinos #call-to-action a:hover {
        text-decoration: none;
        border: 1px solid #ef662f;
        color: #ef662f;
        background: #FFFFFF; }
  #destinos #call-to-action-home {
    margin: 5% auto; }
    #destinos #call-to-action-home a {
      background: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      padding: 1.5%;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; }
      #destinos #call-to-action-home a:hover {
        text-decoration: none;
        border: 1px solid #FFFFFF;
        color: #ef662f;
        background: #FFFFFF; }
  #destinos #call-to-action-home-blog {
    margin: 0;
    position: absolute;
    top: 45%;
    right: -10%;
    width: 30%; }
    #destinos #call-to-action-home-blog a {
      background: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      padding: 1.5%;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-size: 14px; }
      #destinos #call-to-action-home-blog a:hover {
        text-decoration: none;
        border: 1px solid #FFFFFF;
        color: #ef662f;
        background: #FFFFFF; }
  #destinos #tarja {
    background: #ef662f;
    text-align: center;
    color: #FFFFFF; }
    #destinos #tarja p {
      padding: 2.3% 0;
      font-size: 40px;
      font-weight: 700;
      color: #FFFFFF; }
  #destinos #options {
    margin: 4% auto; }
    #destinos #options #alphabet p a {
      color: #FFFFFF;
      font-weight: 400; }
    #destinos #options #inputDestino input {
      border-radius: 0;
      background: #e6e6e6;
      font-family: 'Signika', sans-serif;
      font-size: 18px; }
    #destinos #options .selectoptions .dropdown .dropdown-menu {
      width: 100%;
      padding: 0;
      margin: 0; }
      #destinos #options .selectoptions .dropdown .dropdown-menu .dropdown-item {
        border-radius: 0;
        border: 1px solid #ef662f;
        color: #ef662f; }
    #destinos #options .selectoptions .dropdown .btn-secondary {
      border-radius: 0;
      border: 1px solid #ef662f;
      color: #ef662f;
      width: 100%; }
    #destinos #options .selectoptions .dropInternTarja .dropdown-menu {
      width: 100%;
      padding: 0;
      margin: 0; }
      #destinos #options .selectoptions .dropInternTarja .dropdown-menu .dropdown-item {
        border-radius: 0;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: #ef662f; }
    #destinos #options .selectoptions .dropInternTarja .btn-secondary {
      border-radius: 0;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      background: transparent;
      padding: 0.45rem 1rem;
      width: 100%; }
    #destinos #options #submit-tarja input[type="submit"] {
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      border-radius: 0;
      color: #ef662f;
      padding: 0.45rem 1rem; }
      #destinos #options #submit-tarja input[type="submit"]:hover {
        text-decoration: none;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: #ef662f; }
  #destinos .carousel-control .icon-prev-prev {
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 5;
    display: inline-block; }
  #destinos .carousel-control .icon-next-next {
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 5;
    display: inline-block; }
  #destinos .nav-tabs {
    border: none; }
    #destinos .nav-tabs .nav-item {
      border: none; }
      #destinos .nav-tabs .nav-item .nav-link {
        border: none; }
        #destinos .nav-tabs .nav-item .nav-link .hospedagem {
          width: 100%; }
          #destinos .nav-tabs .nav-item .nav-link .hospedagem p {
            font-size: 40px;
            font-weight: 700;
            color: #FFFFFF;
            text-align: center;
            padding: 2.5% 0;
            color: #ef662f; }
  #destinos .tab-content .box-hospedagem:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef662f;
    position: absolute;
    top: -7px;
    left: 23%; }
  #destinos .tab-content .box-restaurante:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef662f;
    position: absolute;
    top: -7px;
    left: 41.5%; }
  #destinos .tab-content .box-passeio:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef662f;
    position: absolute;
    top: -7px;
    right: 37.4%; }
  #destinos #proximidades .card-inverse .card-img {
    border-radius: 0; }
  #destinos #proximidades .card-inverse .card-img-overlay .card-title {
    text-align: center; }
  #destinos #proximidades .card-inverse .card-img-overlay .card-text {
    margin: 30px 0; }
    #destinos #proximidades .card-inverse .card-img-overlay .card-text p {
      color: #FFFFFF;
      padding: 0 15%;
      text-align: center;
      font-family: 'Signika', sans-serif;
      font-size: 30px; }
  #destinos #proximidades .card-inverse .card-img-overlay .social #icons-social {
    float: left; }
  #destinos #proximidades .card-inverse .card-img-overlay .social p {
    padding: 5px 20px;
    float: left;
    color: #FFFFFF;
    font-family: 'Signika', sans-serif;
    font-size: 21px; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img {
    border-radius: 0; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay #title-overlay {
    margin-top: 0;
    padding: 0; }
    #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay #title-overlay h2 {
      color: #FFFFFF;
      font-family: 'Signika', sans-serif;
      font-size: 26px;
      text-align: left; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay #text-overlay {
    margin-top: 0;
    padding: 0; }
    #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay #text-overlay p {
      color: #FFFFFF;
      font-family: 'Signika', sans-serif;
      font-size: 16px;
      text-align: left; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay .card-title {
    text-align: center; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay .card-text {
    margin: 30px 0; }
    #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay .card-text p {
      color: #FFFFFF;
      padding: 0 15%;
      text-align: center;
      font-family: 'Signika', sans-serif;
      font-size: 30px; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay .social #icons-social {
    float: left; }
  #destinos #proximidades .tipo-gastro .card-inverse .card-img-overlay .social p {
    padding: 5px 20px;
    float: left;
    color: #FFFFFF;
    font-family: 'Signika', sans-serif;
    font-size: 21px; }
  #destinos #proximidades .tipo-restaurant {
    margin-bottom: 25px; }
    #destinos #proximidades .tipo-restaurant .card-inverse .card-img {
      border-radius: 0; }
    #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay {
      opacity: .8; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay #title-overlay {
        margin-top: 0;
        padding: 0; }
        #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay #title-overlay h2 {
          color: #FFFFFF;
          font-family: 'Signika', sans-serif;
          font-size: 26px;
          text-align: center; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay #text-overlay {
        margin: 1% 0;
        padding: 0; }
        #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay #text-overlay p {
          color: #FFFFFF;
          font-family: 'Signika', sans-serif;
          font-size: 16px;
          text-align: center;
          margin-bottom: 2%; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay .card-title {
        text-align: center; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay .card-text {
        margin: 30px 0; }
        #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay .card-text p {
          color: #FFFFFF;
          padding: 0 15%;
          text-align: center;
          font-family: 'Signika', sans-serif;
          font-size: 30px; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay .social #icons-social {
        float: left; }
      #destinos #proximidades .tipo-restaurant .card-inverse .card-img-overlay .social p {
        padding: 5px 20px;
        float: left;
        color: #FFFFFF;
        font-family: 'Signika', sans-serif;
        font-size: 21px; }

#visiteMinas #gridInsta .card {
  border-radius: 0;
  margin: 0; }

#visiteMinas #gridInsta .overlay-min-bottom {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.365rem 10px;
  background: #4b4b4b;
  opacity: .8;
  font-family: 'Signika', sans-serif;
  font-size: 21px;
  text-align: center;
  opacity: 0; }

#visiteMinas #gridInsta #viewInsta:hover .overlay-min-bottom {
  opacity: .8; }

#visiteMinas #gridInsta #viewInsta .card-img {
  border-radius: 0; }

#visiteMinas #gridInsta .overlay-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background: #4b4b4b;
  opacity: .9;
  font-family: 'Signika', sans-serif;
  font-size: 21px;
  text-align: left;
  display: none; }
  #visiteMinas #gridInsta .overlay-full #title-overlay {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 2rem; }
  #visiteMinas #gridInsta .overlay-full hr {
    width: 10%;
    background: #ef662f;
    height: 2px;
    float: left;
    margin: 3% 0; }
  #visiteMinas #gridInsta .overlay-full #text-overlay {
    color: #FFFFFF;
    font-size: 16px; }

#visiteMinas h2 {
  font-size: 60px;
  font-weight: 700;
  color: #ef662f;
  text-align: center;
  padding: 2.5% 0; }

#visiteMinas #hashtext {
  padding: 2.5% 0; }
  #visiteMinas #hashtext p {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    color: #ef662f;
    text-align: center; }

#visiteMinas #call-to-action {
  margin: 1.5% auto; }
  #visiteMinas #call-to-action a {
    background: #ef662f;
    border: 1px solid #ef662f;
    color: #FFFFFF;
    padding: 1.5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center; }
    #visiteMinas #call-to-action a:hover {
      text-decoration: none;
      border: 1px solid #ef662f;
      color: #ef662f;
      background: #FFFFFF; }

#localization .content-address {
  margin-bottom: 10%; }
  #localization .content-address hr {
    background: #cdcdcd;
    height: 1px;
    width: 30%; }
  #localization .content-address p {
    text-align: center;
    color: #cdcdcd; }
    #localization .content-address p span {
      padding: 0 10px;
      text-align: center;
      color: #cdcdcd; }

#map_canvas {
  width: 100%;
  height: 400px; }

#useful-information h2 {
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  padding: 2.5% 0;
  color: #ef662f; }

#useful-information #route p {
  font-family: 'Signika', sans-serif;
  font-size: 28px;
  color: #4b4b4b;
  text-align: center; }
  #useful-information #route p img {
    position: relative;
    top: -3px; }

#useful-information #services {
  font-family: 'Signika', sans-serif;
  margin-top: 2.5%; }
  #useful-information #services .name-service h4 {
    font-size: 18px;
    font-weight: 700;
    color: #4b4b4b;
    color: #4b4b4b;
    margin: 15px auto; }
  #useful-information #services .resume-service {
    color: #4b4b4b; }

#testimonials {
  background: #e6e6e6;
  text-align: center;
  color: #4b4b4b;
  vertical-align: middle;
  padding: 2% 0; }
  #testimonials img {
    border-radius: 50%;
    height: 143px; }
  #testimonials p {
    padding: 5% 0 0.5%;
    text-align: left;
    font-size: 18px; }
  #testimonials span {
    color: #ef662f;
    font-size: 14px;
    text-align: left;
    float: left; }
  #testimonials .title h2 {
    font-size: 48px; }

#breadcrumb .datePost p {
  color: #4b4b4b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px; }

#breadcrumb .hashs p {
  color: #ef662f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  text-transform: uppercase; }

#breadcrumb .social #icons-social {
  float: left; }

#breadcrumb .social p {
  padding: 3px 10px;
  float: left;
  font-family: 'Signika', sans-serif;
  font-size: 20px; }

#footer {
  padding-top: 3%;
  border-top: 2px solid #ef6730;
  margin: 3% 0 0; }
  #footer .line-footer {
    margin: 2% 0; }
  #footer .mapSite .list-group-item {
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    color: #4b4b4b;
    border: none; }
    #footer .mapSite .list-group-item .active {
      background: transparent;
      border-radius: 0;
      border: none;
      font-weight: 700; }
    #footer .mapSite .list-group-item a {
      font-weight: 400;
      color: #4b4b4b; }
      #footer .mapSite .list-group-item a:hover {
        text-decoration: none;
        color: #ef662f; }
  #footer .mapSite #newsletters {
    font-family: 'Signika', sans-serif; }
    #footer .mapSite #newsletters label {
      color: #ef662f;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 5px; }
    #footer .mapSite #newsletters #basic-news {
      border: none;
      border-radius: 0;
      background: #c1c1c1;
      color: #939393;
      padding: 4px 0 3px 10px;
      width: 79%; }
  #footer .trademarks-government {
    padding: 1% 0; }
    #footer .trademarks-government #logoGov img {
      float: right; }
    #footer .trademarks-government #logoCodemig img {
      float: left; }
  #footer .signature {
    background: #e6e6e6;
    padding: 1% 0;
    font-family: 'Signika', sans-serif;
    text-align: center;
    color: #4b4b4b; }
    #footer .signature .secretary p {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px; }
    #footer .signature .address p {
      font-size: 12px; }

@media (min-width: 34em) and (max-width: 47em) {
  #box-menu-top .logo {
    margin: 0 25%; } }

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0; }
  .intro .intro-body .brand-heading {
    font-size: 100px; }
  .intro .intro-body .intro-text {
    font-size: 26px; } }
