@font-face {
  font-family: 'icons_setur';
  src: url("fonts/icons_setur.eot?l6ydtb");
  src: url("fonts/icons_setur.eot?l6ydtb#iefix") format("embedded-opentype"), url("fonts/icons_setur.ttf?l6ydtb") format("truetype"), url("fonts/icons_setur.woff?l6ydtb") format("woff"), url("fonts/icons_setur.svg?l6ydtb#icons_setur") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?jtetts");
  src: url("fonts/icomoon.eot?jtetts#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?jtetts") format("truetype"), url("fonts/icomoon.woff?jtetts") format("woff"), url("fonts/icomoon.svg?jtetts#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'player';
  src:  url('fonts/player.eot?bgs4hq');
  src:  url('fonts/player.eot?bgs4hq#iefix') format('embedded-opentype'),
    url('fonts/player.ttf?bgs4hq') format('truetype'),
    url('fonts/player.woff?bgs4hq') format('woff'),
    url('fonts/player.svg?bgs4hq#player') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="player-"], [class*=" player-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'player' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player-play3:before {
  content: "\ea1c";
}
.player-pause2:before {
  content: "\ea1d";
}
.player-volume-high:before {
  content: "\ea26";
}
.player-new-tab:before {
  content: "\ea7e";
}